<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <p v-for="(value,key,index) in xiaoming">
           {{index+1}}:{{key}}:{{value}}
        </p>
        
        <p v-for='i in 10'>
            {{i}}
        </p>

    </div>
</body>
<script>
    var vm = new  Vue({
        el:"#app",
        data:{
            xiaoming:{
                name:"小明",
                age:32,
                sex:"男"
            }
        },
        methods:{

        }
    });


</script>
</html>